<!DOCTYPE html>
<html>
<head>
  <title>Polylit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "flash/errors" %>
  <%= render "flash/success" %>
  <%= render "layouts/navbar" %>
  <%= yield %>

  <% unless logged_in? %>
    <script>
      console.log("No current user");
      $(function(){
        $("body").on("click", ".js-modal-open", function(event){
          event.preventDefault();
          $(".modal").addClass("is-open");
        });
        $("body").on("click", ".js-modal-close", function(event){
          event.preventDefault();
          $(".modal").removeClass("is-open");
        });
      });
    </script>
  <% end %>
</body>
</html>
