<!DOCTYPE html>
<html>
<head>
  <title>Polylit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render partial: "layouts/navbar" %>
    <%= render "layouts/auth" %>
    <%= yield %>
  </div>

  <% unless logged_in? %>
    <script>
      $(function(){
        $("body").on("click", ".js-modal-open", function(event){
          event.preventDefault();
          $(".modal").addClass("is-open");
        });
        $("body").on("click", ".js-modal-close", function(event){
          event.preventDefault();
          $(".modal").removeClass("is-open");
        });
      });
    </script>
  <% end %>
</body>
</html>
